.header {
  max-width: 80%;
  margin: auto;
  background-color:lightslategray;
  box-shadow: 6px 0px 10px darkslateblue;
  min-height: 80%;
  padding: 20px 50px;
  margin-top: 2%;  
}
.logor{
  width: 80px;
  height: 80px;
  text-align: right;
  text-align: right;
  display: block;
  display: inline-block;
  margin-right: 5%;
  width: auto;
  box-shadow: 6px 0px 10px darkslateblue;
}
.logoc{
  width: 80px;
  height: 80px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin-right:20%;
  margin-left: 20%;
  display: inline-block;
  width: auto;
  box-shadow: 6px 0px 10px darkslateblue;
}
.logol{
  width: 80px;
  height: 80px;
  text-align: left;
  text-align: left;
  align-items: left;
  width: auto;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 6px 0px 10px darkslateblue;
}
.container {
  max-width: 80%;
  margin: 0 auto;
  background-color: lightgray;
  box-shadow: 6px 0px 10px darkslateblue;
  min-height: 80%;
  padding: 20px 50px;
}
.text-center {
  text-align: center;
}

.total-expense-container {
  display: flex;
  justify-content: space-around;
}
.expense-list {
  padding: 0;
}
.expense-list > li {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 6px 0 5px midnightblue;
  margin: 10px 0;
  padding:  10px 5px;
}

.transaction-form  input {
  width: 100%;
  padding: 10px 0;
}